.nav-container{
    background-color: rgb(45, 45, 5);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a-nav{
    color: whitesmoke;
    text-decoration: none;
    cursor:pointer ;
    font-size: 1.5rem;

}

.logo{
    width: 8rem;
}